.user-edit-btn {
  cursor: pointer;
}

.user-edit-space {
  margin-bottom: 40px;
}

.user-edit-delete {
  height: 34px;
  width: 200px;
  margin: 20px 0px;
  border: 2px solid #00BFFF;
  border-radius: 5px 5px 5px 5px;
  color: white;
  background-color: #FF5192;
  cursor: pointer;
  position: relative;
}

.user-edit-image {
  height: 98px;
  width: 98px;
  border-radius: 50%;
  object-fit: cover;
}