.main {
  height: 100vh;
  width: 100%;
  min-width: 1550px;
  background-color: #ffff33;
  padding: 120px 0px 60px 60px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  &__wrapper {
    height: 400px;
    width: 300px;
    background-color: turquoise;
    margin: 0px 60px 60px 0px;
    flex: none;
    flex-flow: column;
    text-align: center;
    &__icon {
      height: 130px;
      text-align: center;
      line-height: 150px;
      position: relative;
      &__img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: 100px;
        object-fit: cover;
      }
    }
    &__name {
      height: 30px;
    }
    &__info {
      height: 70px;
      font-size: 12px;
    }
    &__title {
      height: 170px;
      background-color: #33ffcc;
      display: flex;
      flex-flow: column;
      &__text {
        margin: 30px;
        color: black;
        font-size: 20px;
      }
      &__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
      }
    }
  }
}