.main {
  height: 100vh;
  width: 100%;
  min-width: 1320px;
  background-color:#EEEEEE;
  padding: 90px 40px 70px 60px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  a {
    color: black;
  }
  &__wrapper {
    height: 480px;
    width: 285px;
    background-color: white;
    margin: 0px 20px 20px 0px;
    padding: 0px 20px;
    flex: none;
    flex-flow: column;
    text-align: center;
    &__icon {
      height: 120px;
      text-align: center;
      line-height: 120px;
      position: relative;
      .icon__img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 72.5px;
        object-fit: cover;
      }
    }
    &__name {
      height: 30px;
    }
    &__profile {
      height: 55px;
      font-size: 11px;
      word-break: keep-all;
      margin-bottom: 5px;
      border-bottom: 1px solid lightslategray;
    }
    &__title {
      height: 30px;
      display: flex;
      flex-flow: column;
      border-bottom: 1px solid lightslategray;
      a {
        height: 30px;
      }
    }
    &__like {
      height: 20px;
      font-size: 12px;
      i {
        color: red;
      }
    }
    &__tag {
      height: 20px;
      font-size: 12px;
    }
    &__img {
      height: 200px;
      padding: 10px;
      .rank__img {
        height: 180px;
        width: auto;
      }
    }
  }
}