@import "mixin";

#delete-btn {
  @include image-btn;
  margin-top: 0px;
  background-color: #dc143c;
}
#delete-btn:hover {
  @include image-btn-hover;
  color: #dc143c;
  border: 2px solid #dc143c;
}
#only-edit { margin-bottom: 0px; }
#hide { display: none; }