@import "mixin";

.main__content {
  @include arg($width: 935px, $back: #fff);
  padding: 40px ;
  margin: 0 auto 30px;
  .form {
    display: flex;
    flex-flow: column;
    input { @include input-design; }
    textarea {
      @include input-design;
      padding: 20px 10px;
    }
    &__message {
      @include arg($width: 655px, $height: 60px);
      margin: 0 100px; 
      font-size: 20px;
      color: $darkgray;
      text-align: center;
      line-height: 60px;
      border-bottom: 1px solid #ccc;
    }
    &__title, &__rank {
      @include arg($height: 60px, $back: #fff);
      margin-bottom: 30px;
    }
    &__content {
      @include arg($height: 120px, $back: #fff);
      margin-bottom: 30px;
    }
    &__image {
      display: flex;
      &__wrapper {
        display: flex;
        flex-flow: column;
        #rank-image-1, #rank-image-2, #rank-image-3 { display: none; }
        &__zone-1, &__zone-2, &__zone-3 {
          @include image-zone;
          margin: 0 2.5px;
          cursor: pointer;
          line-height: 180px;
          position: relative;
          i {
            width: 20px;
            position: absolute;
            left: 50%;
            top: 60%;
          }
          .preview-1, .preview-2, .preview-3 {
            @include image-size;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
        &__btn {
          margin-bottom: 30px;
          #delete-1, #delete-2, #delete-3 {
            @include image-btn;
            margin: 10px 2.5px;
          }
          #delete-1:hover, #delete-2:hover, #delete-3:hover { @include image-btn-hover; }
        }
      }
    }
    &__tag {
      @include arg($width: 855px, $height: 190px, $back: #fff);
      margin: 0 0 90px;
      border: 1px solid $gray;
      border-radius: 3px;
      &__wrapper {
        padding: 5px;
        word-break: keep-all;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        input { display: none; }
        input + label { @include tag-label; }
        input:checked + label {
          @include tag-label;
          background-color: #fff;
          border: 2px solid $lightgreen;
          color: dimgray;
          margin-right: 3px;
        }
      }
    }
    .create__btn {
      @include arg($width: 50%, $height: 60px, $back: $skyblue);
      margin: 0 25% 10px;
      box-shadow: 0px 5px 3px #aaa;
      border: none;
      border-bottom: solid 4px #6495ed;
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
    .create__btn:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
  }
}

#index-title, #index-rank, #index-detail { @include index-blueprint; }
#index-image-1, #index-image-2, #index-image-3, #index-tag {
  @include index-blueprint;
  width: 280px;
  padding: 0;
  // 以下、末尾に"..."を付加してて文字列を省略表示
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
#index-title::before, #index-rank::before { @include index-attention; }
#index-detail::before, #index-tag::before, #index-image-1::before, #index-image-2::before, #index-image-3::before {
  @include index-attention;
  content: "任意";
  background-color: $skyblue;
}
.form__border {
  width: 655px;
  margin: 60px 100px 0;
  border-bottom: 1px solid #ccc;
}
.form__title::placeholder, .form__rank::placeholder, .form__content::placeholder, .hidden-1, .hidden-2, .hidden-3 {
  color: $gray;
  font-size: 16px;
  font-weight: normal;
}
.reset-tag {
  @include arg($width: 200px, $height: 30px, $back: $darkgray);
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin: 5px;
  cursor: pointer;
}
#delete-check {
  width: 16px;
  margin: 0;
}
.form__error-0, .form__error-1, .form__error-2, .form__error-3 {
  margin: 5px 0 0 100px;
  color: $red;
  font-size: 12px;
}
