.smain
  = render 'show'

  .comment
    .comment__title
      %p comment 
    .comment__content
      .comment__content__icon
        = link_to "#" do
          %img{class: "comment__content__icon__img", src: "https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2019%2F09%2Fdarth-vader-helmet-star-wars-the-empire-strikes-back-auction-03.jpg?w=1600&cbr=1&q=90&fit=max"}
      .comment__content__wrapper
        .comment__content__wrapper__name
          %p ダースベイダー
        .comment__content__wrapper__text
          %p 私はエピソード4が好きです！
    .comment__content
      .comment__content__icon
        = link_to "#" do
          %img{class: "comment__content__icon__img", src: "https://pbs.twimg.com/profile_images/660078948206817280/rjpXbtqn.jpg"}
      .comment__content__wrapper
        .comment__content__wrapper__name
          %p ウッディ
        .comment__content__wrapper__text
          %p おい！バズ！

