.header {
  height: 60px;
  width: 100%;
  background-color:#FF5192;
  color: white;
  position: fixed;
  z-index: 3;
  &__wrapper {
    width: 1320px;
    display: flex;
    margin: auto;
    &__logo {
      height: 50px;
      min-width: 200px;
      margin: 5px 60px 5px 60px;
      font-size: 28px;
      line-height: 50px;
      background-color: black;
      display: flex;
      align-items: center;
      i {
        color: yellow;
        margin: 10px; 
      }
      p {
        color: white;
      }
    }
    &__search {
      width: 500px;
      margin: 5px 60px 5px 0px;
      display: flex;  
      &__form {
        display: flex;
        align-items: center;
        &__input {
          .header-input {
            height: 50px;
            width: 410px;
            padding: 0px 10px;
            border: none;
            color: dimgray;
          }
          ::placeholder { 
            font-size: 14px;
          }
        }
        .send-btn {
          height: 45px;
          width: 80px;
          background-color: #444444;
          margin-left: 10px;
          color: white;
          border: none;
          border-radius: 5px 5px 5px 5px;
          font-size: 14px;
          line-height: 45px;
        }
      }
    }
    &__right {
      height: 45px;
      width: 390px;
      margin: 7.5px 50px 7.5px 0px;
      font-size: 15px;
      display: flex;
      align-items: center;
      color: dimgray;
      &__list {
        width: 120px;
        background-color:#00BFFF;
        margin-right: 10px;
        text-align: center;
        line-height: 45px;
        a {
          color: white;
        }
      }
    }
  }
}

.footer {
  height: 60px;
  width: 100%;
  background-color:	#FF5192;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 60px;
  color: white;
  z-index: 3;
}

.search__box {
  height: 40px;
  width: 410px;
  background-color: white;
  opacity: 0.85;
  margin: 4px 0px 2px 0px;
  padding-left: 10px;
  line-height: 40px;
  font-size: 14px;
  a {
    color: black;
  }
}

.search__box__message {
  color: black;
}