* {
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

@import "reset";
@import "header";
@import "footer";
@import "modules/ranks/index";
@import "modules/ranks/show";
@import "modules/ranks/new";
@import "modules/registrations/new";
@import "font-awesome-sprockets";
@import "font-awesome";