* {
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a { color: #000; }

@import "reset";
@import "header";
@import "ranks/index";
@import "ranks/show";
@import "ranks/new";
@import "registrations/new";
@import "registrations/edit";
@import "sessions/new";
@import "users/show";
@import "tags/new";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flash";
@import "mixin";
